venv
__pycache__
.idea/
hacking_around_results/

test_images/elo.jpg
test_images/640px-Large_Scaled_Forest_Lizard.jpeg
test_images/Large_Scaled_Forest_Lizard.jpg
tftesting.py

test_images/person.jpg
main.py
_hacking_edge_detection.py
calculate_coefficients.py
_pickr.py
/_calc_coefficients.py
_pcklr.py
test_images/forlan
test_images/forlan2.jpeg
ptm.py
test_images/elephant.jpg
test_images/courage
